* {
   box-sizing: border-box;
}

body {
    background-image: url("https://images.unsplash.com/photo-1694449263303-a90c4ce18112?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80");
    color: white;
}

#container{
    font-family: Tahoma;
}

#title {
    margin: 50px auto 0px auto;
    text-align: center;
}

#description {
    font-style: italic;
    margin: 10px auto;
    text-align: center;
}

form {
    margin: 50px auto;
    width: 100%;
    max-width: 720px;
    background-color: rgba(27, 27, 50, 0.8);
    padding: 10px 10px;
    border-radius: 2px;
}

label{
    display: block;
    margin: 15px 0px 0px 0px;
}

label, input, select, textarea{
    font-size: 16px;
    padding: 1px 2px;
}

.label-improve{ 
    margin: 2px 0px 0px 0px ;
}

.label-radio{
    margin: 2px 0px 0px 0px ;
}

textarea{
    width: 100%;
}

button{
    margin: 40px 0;
    width: 100%;
    padding: 0.75rem;
    background-color: #37af65;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 2px;
}